---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose lg:prose-xl">
    <p class="mt-4 text-lg">
      Greetings! My name is
      <b class="text-white-600">Hidayat</b>
    </p>
    <p class="mt-6 text-lg">
      I am a <b>last-year Informatics student and a Backend Engineer</b>. I am
      also eager to learn and explore various other fields within Software
      Engineering realm such as <b
        >System Engineering, Frontend Engineering, DevOps, Competitive
        Programming, and more</b
      >.
    </p>
    <p class="mt-6 text-lg">
      Throughout my academic and professional journey, I have gained experience
      with a variety of technologies including (but not limited to):
      <span class="font-semibold"
        >Linux, C++, SQL, Java, Python, Flask, MongoDB, PostgreSQL, Redis,
        NodeJS, Golang, Laravel, GCP, Nix, Notion, and Nginx</span
      >.
    </p>
    <p class="mt-6 text-lg">
      Beyond my technical pursuits, I enjoy movies, music, playing guitar (sadly
      it's been broken), gaming (mostly Valorant, FIFA, or Mobile Legends,
      recently Chivalry 2) , and tinkering around with my day-to-day work
      environment. Feel free to explore around to learn more about my work,
      projects, and interests.
    </p>
    <p class="text-sm">
      p.s. feel free to hit my DM if you want to play together 😁
    </p>

    <section class="mt-12">
      <p class="text-lg">Find me on</p>
      <div class="flex gap-x-4 gap-y-2 flex-wrap mt-4">
        {
          siteConfig.socialLinks.map((link) => (
            <a
              aria-label={link.text}
              href={link.href}
              target="_blank"
              class="prose-link text-blue-500 hover:text-blue-700 transition-colors duration-200"
            >
              <i class:list={[link.icon]} class="text-2xl mr-2" />
              {link.text}
            </a>
          ))
        }
      </div>
      <p class="mt-8 text-lg">
        Or email me at
        <a
          class="text-blue-500 hover:text-blue-700 transition-colors duration-200"
          aria-label={siteConfig.email}
          href={`mailto:${siteConfig.email}`}
        >
          {siteConfig.email}
        </a>.
      </p>
    </section>
  </article>
</BaseLayout>
